/*
|--------------------------------------------------------------------------
| Buttons
|--------------------------------------------------------------------------
*/

.km-button{

    display:inline-flex;

    align-items:center;

    justify-content:center;

    gap:8px;

    min-height:40px;

    padding:10px 18px;

    border-radius:8px;

    border:1px solid transparent;

    font-size:14px;

    font-weight:600;

    cursor:pointer;

    transition:.20s;

}

.km-button:hover{

    transform:translateY(-1px);

}

.km-button-primary{

    background:#4f6f52;

    color:#ffffff;

    border-color:#4f6f52;

}

.km-button-primary:hover{

    background:#446148;

}

.km-button-secondary{

    background:#ffffff;

    color:#333333;

    border-color:#d8d8d8;

}

.km-button-secondary:hover{

    background:#f7f7f7;

}

.km-button-danger{

    background:#c84d4d;

    color:#ffffff;

}

.km-button-danger:hover{

    background:#b44141;

}

.km-button-export{

    background:#d8f5d0;

    color:#086905;

    border-color: #4f6f52;

    margin-left: auto;
}

.km-button-export:hover{

    background:#67ca6e;

    color:#065b03;

}


.km-button-import{

    background:#d8f5d0;

    color:#078603;

    border-color: #4f6f52;

}

.km-button-import:hover{

    background:#6fdbc9;

    color:#1d1f77;

}

.km-button-icon{

    width:18px;
    height:18px;
    display:block;

}
/*
.km-button-right{

    margin-right:inherit;

}
*/
/*
.km-customers-toolbar{

    display:inline;
    display:auto;
    align-items:center;
}
*/