/*
|--------------------------------------------------------------------------
| Buttons
|--------------------------------------------------------------------------
*/

.km-button{

    display:inline-flex;

    align-items:center;

    justify-content:center;

    gap:8px;

    min-height:40px;

    padding:10px 18px;

    border-radius:8px;

    border:1px solid transparent;

    font-size:14px;

    font-weight:600;

    cursor:pointer;

    transition:.20s;

}

.km-button:hover{

    transform:translateY(-1px);

}

.km-button-primary{

    background:#4f6f52;

    color:#ffffff;

    border-color:#4f6f52;

}

.km-button-primary:hover{

    background:#446148;

}

.km-button-secondary{

    background:#ffffff;

    color:#333333;

    border-color:#d8d8d8;

}

.km-button-secondary:hover{

    background:#f7f7f7;

}

.km-button-danger{

    background:#c84d4d;

    color:#ffffff;

}

.km-button-danger:hover{

    background:#b44141;

}

.km-button-export{

    background:#ecf4e9ca;

    color:#086905;

    border-color: #4f6f52;

    margin-left: auto;

    transition:0.2s;
}

.km-button-export:hover{

    background:#67ca6e;

    color:#065b03;

    transform:translateY(-1px);

}


.km-button-import{

    background:#ecf4e9ca;

    color:#086905;

    border-color: #4f6f52;

    margin-left: auto;

    transition:0.2s;

}

.km-button-import:hover{

    background:#fef60b;

    color:#065b03;;

    transform:translateY(-1px);

}

.km-button-icon{

    width:18px;
    height:18px;
    display:block;

}

.km-button-neutral{

    background:#bbe7f45c;

    color:#2c26d3;

    border-color: #2c26d3;

}

.km-button-warning{

    background:#dbf1f7c1;

    color:#070386;

    border-color: #6157e6;
}

.km-button-plus{

    color: white;
    width:34px;
    height:34px;
    padding:0;
    font-size:18px;
    background-color: #325e40;
    border-radius:8px;
    border:1px solid transparent;
    font-size:20px;
    font-weight:500;
    cursor:pointer;
    transition:.20s;
    
}
.km-button-plus:hover{
    transform:translateY(+1px);
}

.km-button-delete{

    color: white;
    width:34px;
    height:34px;
    padding:0;
    font-size:18px;
    background-color: #d64a20;
    border-radius:8px;
    border:1px solid transparent;
    font-size:20px;
    font-weight:500;
    cursor:pointer;
    transition:.20s;
    
}
.km-button-delete:hover{
    transform:translateY(+1px);
}
