:root {

    /* ==========================================================
       COLORS
    ========================================================== */

    /* ==========================================================
       BRAND
    ========================================================== */

    --km-text-primary: #222222;
    --km-text-secondary: #666666;

    /* ==========================================================
       BACKGROUND
    ========================================================== */

    --km-background: #f4f4f4;
    --km-surface: #ffffff;

    /* ==========================================================
       SIDEBAR
    ========================================================== */

    --km-sidebar-bg: #2b2b2b;
    --km-sidebar-text: #ffffff;
    --km-sidebar-hover: #3a3a3a;
    --km-sidebar-active: #d8c8a5;
    --km-sidebar-tree-line: #5f5f5f;

    /* ==========================================================
       BORDERS
    ========================================================== */

    --km-border: #dddddd;

    /* ==========================================================
       STATUS
    ========================================================== */

    --km-success: #28a745;
    --km-warning: #ffc107;
    --km-danger: #dc3545;

}