<!DOCTYPE html>

<html lang="it">

<head>

    <meta charset="UTF-8">

    <title>Ordine</title>

    <link rel="stylesheet" href="order-default.css">

</head>

<body>

    <div class="ktb-document">

        <!-- ======================================================
             HEADER
        ======================================================= -->

        <header class="ktb-header">

            <div class="ktb-company">

                <h1>
                    KiTho Pet di Giulia Caldari
                    <!-- [[company.name]] -->
                </h1>

                <p>
                    Via W. A. Mozart, 6c
                    <!-const company = - [[company.address]] -->
                </p>

                <p>
                    25020 Calvagese della Riviera (BS) - Italy
                    <!-- [[company.zip]] [[company.city]] ([[company.province]]) -->
                </p>

                <p>
                    P.IVA 04441540988 - REA BS-614852
                    <!-- [[company.vat]] -->
                </p>

                <p>
                    Cell. +39 340 8984176
                    <!-- [[company.phone]] -->
                </p>

                <p>
                    commerciale@kithopet.com
                    <!-- [[company.email]] -->
                </p>

            </div>

            <div class="ktb-logo">

                <img src="../../../../assets/images/logo_KTB.png"
                    alt="Logo Azienda">

            </div>

        </header>

    

    
        <!-- ======================================================
        BLOCCO INTESTAZIONI CLIENTE E DESTINAZIONE 
        ======================================================= -->

        <section class="ktb-order-head">

            <div class="ktb-customer-box">

                <div class="ktb-box-title">

                    Spett.le

                </div>

                <div class="ktb-customer-name">

                    Pietro Serrano

                </div>

                <div class="ktb-customer-address">

                    Via Cascina Rosa 8

                </div>

                <div class="ktb-customer-city">

                    26016 SPINO D'ADDA CR

                </div>

            </div>

            <div class="ktb-shipping-box">

                <div class="ktb-box-title">

                    Destinazione merce

                </div>

                <div class="ktb-customer-shippingname">

                    Pietro Serrano

                </div>

                <div class="ktb-customer-shippingaddress">

                    Via Cascina Rosa 8

                </div>

                <div class="ktb-customer-shippingcity">

                    26016 SPINO D'ADDA CR

                </div>

            </div>

            <!-- ======================================================
            BANCA
            ======================================================= -->        
            
            <div class="ktb-order-bank">

                <table>

                    <colgroup>

                            <col style="width:25mm">
                            <col style="width:71mm">
                            <col style="width:20mm">
                            <col style="width:20mm">


                        </colgroup>

                    <tr>

                        <th>Cond.di pag.</th>

                        <th>Anticipato</th>

                        <th>Cod. Agente</th>

                        <th>Cod. Cliente</th>

                        <th>P.IVA / Cod.Fiscale cliente</th>

                    </tr>

                    <tr>

                        <td>Banca</td>

                        <td>CREDIT AGRICOLE - IBAN IT0022002200220022</td>

                        <td></td>

                        <td></td>

                        <td></td>

                    </tr>

                </table>

            </div>

            
            <!-- ======================================================
            RIFERIMENTO ORDINE - DATA - PAGINA
            ======================================================= -->        
            
            <div class="ktb-order-info">

                <table>

                    <tr>

                        <th class="ktb-accent">Nr. Ordine</th>

                        <th>tipo ordine</th>

                        <th>Data</th>

                        <th>Pagina</th>

                    </tr>

                    <tr>

                        <td id="order-number"></td>

                        <td id="order-type"></td>

                        <td id="order-date"></td>

                        <td id="order-page"></td>

                    </tr>

                </table>

            </div>

        </section>

        <!-- ======================================================
        CORPO ORDINE
        ======================================================= -->

        <div class="ktb-order-body">

            <!-- Griglia di sfondo -->
            <div class="ktb-order-grid">

                <div class="grid-line l1"></div>
                <div class="grid-line l2"></div>
                <div class="grid-line l3"></div>
                <div class="grid-line l4"></div>
                <div class="grid-line l5"></div>
                <div class="grid-line l6"></div>
                <div class="grid-line l7"></div>

            </div>

            <!-- Intestazione colonne -->
            <div class="ktb-order-header">

                <div class="c1">Codice</div>
                <div class="c2">Descrizione</div>
                <div class="c3">U.M.</div>
                <div class="c4">Q.tà</div>
                <div class="c5">Prezzo</div>
                <div class="c6">Sconto</div>
                <div class="c7">Importo</div>
                <div class="c8">IVA</div>

            </div>

            <!-- Qui finiranno le righe -->
            <div id="order-rows"></div>

        </div>

        <!-- ======================================================
        RIGA TOTALI
        ======================================================= -->

        <div class="ktb-summary">

            <div class="sum-col">
                <div class="sum-title">Importo</div>
                <div class="sum-value" id="sum-importo">110,00 €</div>
            </div>

            <div class="sum-col">
                <div class="sum-title">Sconti</div>
                <div class="sum-value" id="sum-sconti">10,00 €</div>
            </div>

            <div class="sum-col">
                <div class="sum-title">Totale Netto</div>
                <div class="sum-value" id="sum-netto">100,00 €</div>
            </div>

            <div class="sum-col">
                <div class="sum-title">IVA*</div>
                <div class="sum-value" id="sum-iva">0,00 €</div>
            </div>

            <div class="sum-col">
                <div class="sum-title">Trasporto</div>
                <div class="sum-value" id="sum-trasporto">15,00 €</div>
            </div>

            <div class="sum-col">
                <div class="sum-title">Bollo</div>
                <div class="sum-value" id="sum-bollo">2,00 €</div>
            </div>

            <div class="sum-col total">
                <div class="sum-title">Totale</div>
                <div class="sum-value" id="sum-totale">117,00 €</div>
            </div>

        </div>

        <!-- ======================================================
        BLOCCO ANNOTAZIONI 
        ======================================================= -->

        <div class="ktb-notes">

            <div class="notes-title">

                Note

            </div>

            <div id="order-notes"></div>

        </div>

        <section class="ktb-note">

            <div>*Esenzione IVA N2.2, operazioni non seggette - Art.1, c. 54-89, L. 190/2014</spandiv>
            <div>I dati personali forniti dal Cliente saranno trattati in base alle norme vigenti esclusivamente per gli adempimenti amministrativi e fiscali.</div>

        </section>


    </div>

    <script src="order-default.js"></script>

</body>

</html>