<!DOCTYPE html>

<html lang="it">

<head>

    <meta charset="UTF-8">

    <title>Ordine</title>

    <link rel="stylesheet" href="order-default.css">

</head>

<body>

    <div class="ktb-document">

        <!-- ======================================================
             HEADER
        ======================================================= -->

        <header class="ktb-header">

            <div class="ktb-company">

                <h1>
                    KiTho Pet di Giulia Caldari
                    <!-- [[company.name]] -->
                </h1>

                <p>
                    Via W. A. Mozart, 6c
                    <!-- [[company.address]] -->
                </p>

                <p>
                    25020 Calvagese della Riviera (BS) - Italy
                    <!-- [[company.zip]] [[company.city]] ([[company.province]]) -->
                </p>

                <p>
                    P.IVA 04441540988 - REA BS-614852
                    <!-- [[company.vat]] -->
                </p>

                <p>
                    Cell. +39 340 8984176
                    <!-- [[company.phone]] -->
                </p>

                <p>
                    commerciale@kithopet.com
                    <!-- [[company.email]] -->
                </p>

            </div>

            <div class="ktb-logo">

                <img src="../../../../assets/images/logo_KTB.png"
                    alt="Logo Azienda">

            </div>

        </header>

    

    
        <!-- ======================================================
        BLOCCO INTESTAZIONI CLIENTE E DESTINAZIONE 
        ======================================================= -->

        <section class="ktb-order-head">

            <div class="ktb-customer-box">

                <div class="ktb-box-title">

                    Spett.le

                </div>

                <div class="ktb-customer-name">

                    Pietro Serrano

                </div>

                <div class="ktb-customer-address">

                    Via Cascina Rosa 8

                </div>

                <div class="ktb-customer-city">

                    26016 SPINO D'ADDA CR

                </div>

            </div>

            <div class="ktb-shipping-box">

                <div class="ktb-box-title">

                    Dest. merce

                </div>

                <div class="ktb-customer-shippingname">

                    Pietro Serrano

                </div>

                <div class="ktb-customer-shippingaddress">

                    Via Cascina Rosa 8

                </div>

                <div class="ktb-customer-shippingcity">

                    26016 SPINO D'ADDA CR

                </div>

            </div>

            <section class="ktb-note">

                I dati personali forniti dal Cliente saranno trattati in base alle norme vigenti esclusivamente per gli adempimenti amministrativi e fiscali.

            </section>

            
            <!-- ======================================================
            RIFERIMENTO ORDINE - DATA - PAGINA
            ======================================================= -->        
            
            <div class="ktb-order-info">

                <table>

                    <tr>

                        <th>Ordine</th>

                        <th>tipo ordine</th>

                        <th>Data</th>

                        <th>Pagina</th>

                    </tr>

                    <tr>

                        <td>N. 001/2026</td>

                        <td>Vendita</td>

                        <td>11/02/2026</td>

                        <td>1</td>

                    </tr>

                </table>

            </div>

        </section>

        <!-- ======================================================
        CORPO ORDINE
        ======================================================= -->

        <div class="ktb-order-body">

                <table>

                    <colgroup>

                        <col style="width:25mm">
                        <col style="width:70mm">
                        <col style="width:10mm">
                        <col style="width:10mm">
                        <col style="width:20mm">
                        <col style="width:15mm">
                        <col style="width:20mm">
                        <col style="width:12mm">

                    </colgroup>

                    <thead>

                        <tr>

                            <th>Codice</th>

                            <th>Descrizione</th>

                            <th>U.M.</th>

                            <th>Q.tà</th>

                            <th>Prezzo</th>

                            <th>Sconto</th>

                            <th>Importo</th>

                            <th>IVA</th>

                        </tr>

                    </thead>

                    <tbody id="order-body">
                    
                    </tbody>

                </table>

         </div>

         <!-- ======================================================
            BANCA
            ======================================================= -->        
            
        <div class="ktb-order-bank">

            <table>

                <colgroup>

                        <col style="width:25mm">
                        <col style="width:82mm">
                        <col style="width:10mm">
                        <col style="width:10mm">


                    </colgroup>

                <tr>

                    <th>Cond.di pag.</th>

                    <th>Anticipato</th>

                    <th>Cod.Agente</th>

                    <th>Cod.Cliente</th>

                    <th>P.IVA/Cod.Fiscale</th>

                </tr>

                <tr>

                    <td>Banca</td>

                    <td>CREDIT AGRICOLE - IBAN IT0022002200220022</td>

                    <td></td>

                    <td></td>

                    <td></td>

                </tr>

            </table>

        </div>

        

    </div>

    <script src="order-default.js"></script>

</body>

</html>