<!DOCTYPE html>

<html lang="it">

<head>

    <meta charset="UTF-8">

    <title>Ordine</title>

    <link rel="stylesheet" href="order-default.css">

</head>

<body>

    <div class="ktb-document">

        <!-- ======================================================
             HEADER
        ======================================================= -->

        <header class="ktb-header">

            <div class="ktb-company">

                <h1>
                    KiTho Pet di Giulia Caldari
                    <!-- [[company.name]] -->
                </h1>

                <p>
                    Via W. A. Mozart, 6c
                    <!-- [[company.address]] -->
                </p>

                <p>
                    25020 Calvagese della Riviera (BS) - Italy
                    <!-- [[company.zip]] [[company.city]] ([[company.province]]) -->
                </p>

                <p>
                    P.IVA 04441540988 - REA BS-614852
                    <!-- [[company.vat]] -->
                </p>

                <p>
                    Cell. +39 340 8984176
                    <!-- [[company.phone]] -->
                </p>

                <p>
                    commerciale@kithopet.com
                    <!-- [[company.email]] -->
                </p>

            </div>

            <div class="ktb-logo">

                <img src="../../../../assets/images/logo_KTB.png"
                    alt="Logo Azienda">

            </div>

        </header>

    </div>

    <script src="order-default.js"></script>

</body>

</html>