*{

    box-sizing:border-box;

}

html,
body{

    margin:0;

    padding:0;

    background:#ECECEC;

    font-family:Ebrima,sans-serif;

}

.ktb-document{

    position:relative;

    width:210mm;

    height:297mm;

}

.ktb-document::before{

    content:"";

    position:absolute;

    inset:0;

    background:url("../../../../assets/images/logo_KTB.png");

    background-repeat: no-repeat;
    
    background-position: center 145mm;
    
    background-size: 135mm;

    opacity: 0.15;

    pointer-events:none;

}

.ktb-document::after{

    content:"";

    position:absolute;

    inset:2mm;

    border:0.1mm solid #00000062;

    pointer-events:none;

}

.ktb-document{

    width:210mm;

    min-height:297mm;

    margin:20px auto;

    background:#FFFFFF;

    padding:12mm;

    box-shadow:0 0 8px rgba(0,0,0,.15);

}

/* ==========================================================
   HEADER
========================================================== */

.ktb-header{

    display:grid;

    grid-template-columns:130mm 35mm;

    column-gap:5mm;

    align-items:start;

}

.ktb-company{

    width:145mm;

}

.ktb-company h1{

    margin:0 0 1mm;

    font-size:5mm;

    font-weight:700;

}

.ktb-company p{

    margin:0 0 1.5mm;

    font-size:3.6mm;

    line-height:1.0;

    font-weight:400;

}

.ktb-logo{

    display:flex;

    justify-content:flex-end;

    align-items:flex-start;

}

.ktb-logo img{

    width:65mm;

    height:auto;

}


/* ==========================================================
   BLOCCO INTESTATARIO ORDINE CON ANAGRAFICA CLIENTE
========================================================== */

.ktb-order-head{

    display:grid;

    grid-template-columns:90mm 90mm;

    column-gap:6mm;

    margin-top:4mm;
    margin-right:auto;
    margin-bottom:8mm;
    margin-left:auto;

}

.ktb-box-title{

    font-size:3mm;

    margin-bottom:3mm;

    font-weight:400;

}

.ktb-customer-box{

    border:0.2mm solid #000;

    border-radius:2mm;

    padding:2mm;

    min-height:10mm;

    background-color: #e2f0ea;

}

.ktb-customer-name{

    font-size:4mm;

    font-weight:700;

    margin-bottom:2mm;

}

.ktb-customer-address,
.ktb-customer-city{

    font-size:3mm;  

}

/* ==========================================================
   BLOCCO DATI SPEDIZIONE
========================================================== */



.ktb-shipping-box{

    border:0.2mm solid #000;

    border-radius:2mm;

    padding:2mm;

    min-height:18mm;

    background-color: #e2f0ea;

}

.ktb-customer-shippingname{

    font-size:4mm;

    font-weight:700;

    margin-bottom:2mm;

}

.ktb-customer-shippingaddress,
.ktb-customer-shippingcity{

    font-size:3mm;
   
}





/* ==========================================================
   BLOCCO DATI ORDINE - NUMERO - TIPO - DATA - PAGINA
========================================================== */

.ktb-accent{

    color:#000;

    font-weight:700;

}

.ktb-order-info{

    border:0.2mm solid #000;

    border-radius:2mm;

    overflow:hidden;

    margin-top:3mm;

    grid-column:1 / -1;

}

.ktb-order-info table{

    width:100%;

    height:100%;

    border-collapse:collapse;

}

.ktb-order-info th{

    font-size:2.5mm;

    font-weight:700;

    border-right:0.2mm solid #000;

    border-bottom:0.2mm solid #000;

    text-align:center;

}

.ktb-order-info td{

    font-size:3mm;

    font-weight:500;

    text-align:center;

    border-right:0.2mm solid #000;

}

.ktb-order-info th:last-child,
.ktb-order-info td:last-child{

    border-right:none;

}



/* ==========================================================
   BLOCCO CORPO ORDINE
========================================================== */

.ktb-order-body{

    position:relative;

    height:140mm;

    border:0.2mm solid #000;

    border-radius:2mm;

    overflow:hidden;

    margin-top:-5mm;

}

.ktb-order-grid{

    position:absolute;

    inset:0;

}

.grid-line{

    position:absolute;

    top:0;

    bottom:0;

    width:0.2mm;

    background:#000;

}

.l1{ left:30mm; }

.l2{ left:115mm; }

.l3{ left:125mm; }

.l4{ left:135mm; }

.l5{ left:150mm; }

.l6{ left:160mm; }

.l7{ left:175mm; }

.ktb-order-header{

    position:relative;

    display:grid;

    grid-template-columns:30mm 85mm 11mm 11mm 12mm 12mm 15mm 12mm;

    height:5mm;

    border-bottom:0.2mm solid #000;

    font-size:3mm;

    font-weight:700;

    z-index:2;

    background:#FFF;

}

.ktb-order-header div{

    display:flex;

    align-items:center;

    padding-left:1mm;

}

.ktb-order-row{

    display:grid;

    grid-template-columns:30mm 85mm 10mm 10mm 15mm 10mm 15mm 12mm;

    min-height:6mm;

    font-size: 3mm;

    align-items:start;

}

.ktb-order-row > div{

    padding:1mm;

    white-space:normal;

    overflow-wrap:anywhere;

    word-break:break-word;

}

.c2{

    white-space:normal;

    overflow-wrap:break-word;

}

.ktb-order-row .c3,
.ktb-order-row .c4,
.ktb-order-row .c8{

    text-align:center;

}

.ktb-order-row .c5,
.ktb-order-row .c6,
.ktb-order-row .c7{

    text-align:right;

    padding-right:1mm;

}


/* ==========================================================
   BLOCCO DATI BANCA
========================================================== */



.ktb-order-bank{

    border:0.2mm solid #000;

    border-radius:2mm;

    overflow:hidden;

    margin-top:3mm;

    grid-column:1 / -1;

}

.ktb-order-bank table{

    width:100%;

    height:100%;

    border-collapse:collapse;

}

.ktb-order-bank th{

    font-size:3mm;

    font-weight:600;

    border-right:0.2mm solid #000;

    border-bottom:0.2mm solid #000;

    text-align:left;

}

.ktb-order-bank td{

    font-size:3mm;

    font-weight:500;

    text-align:left;

    border-right:0.2mm solid #000;

}

.ktb-order-bank th:last-child,
.ktb-order-bank td:last-child{

    border-right:none;

}

/* ======================================================
RIGA TOTALI
======================================================= */


.ktb-summary{

    display:grid;

    grid-template-columns:
        28mm
        24mm
        30mm
        24mm
        24mm
        18mm
        40mm;

    margin-top:3mm;

    border:0.2mm solid #000;

    border-radius:2mm;

    overflow:hidden;

}

.sum-col{

    border-right:0.2mm solid #000;

    padding:1mm;

}

.sum-col:last-child{

    border-right:none;

}

.sum-title{

    font-size:3mm;

    font-weight:500;

    margin-bottom:0mm;

}

.sum-value{

    font-size:4mm;

    font-weight:500;

    text-align:right;

    padding-right:2mm;
}

.total{

    background:#f5f5f5;

}

.total .sum-title,
.total .sum-value{

    font-weight:700;

}

.total .sum-value{

    text-align:right;

    padding-right:5mm;

}

/* ======================================================
ANNOTAZIONI
======================================================= */

.ktb-notes{

    border:0.2mm solid #000;

    border-radius:2mm;

    overflow:hidden;

    margin-top:3mm;

    grid-column:1 / -1;

    height: 20mm;
}

.notes-title{

    font-size:3mm;

    font-weight:500;

    padding:1.5mm 2mm;

    border-bottom:none

}

#order-notes{

    font-size:3mm;

    padding:2mm;

    white-space:pre-wrap;

    overflow-wrap:break-word;

}


/* ==========================================================
   RIGA NOTE
========================================================== */


.ktb-note{

    margin-top:4mm;

    color: #000000ad;

    font-size:3mm;

    font-weight:400;

    text-align: center;
    
    grid-column:1 / -1;

}